h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.todolist-block {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 10px;
}

.active-filter {
  background-color: coral;
}
.is-done {
  opacity: 0.5;
}

a{
  color: #bd9292;
  text-decoration: none;
}

a.active{
  color: rgba(190, 0, 0, 0.48);
}

a:hover{
  color: rgb(255, 255, 255);
}
