h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.todolist-block {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 10px;
}

.error {
  border: red 1px solid
}

.error-message {
  color: red;
}

.active-filter {
  background-color: coral;
}
.is-done {
  opacity: 0.5;
}
